<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<title>MU TEST</title>
	<script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
	<script type="text/javascript" src="static/js/mu.js"></script>
	<script type="text/javascript">
	 var mango;
	 window.onload = function(){
             mango = new
	     Mango({"dostuff":function(header,args){console.log("DOING STUFF",header,args);}},console.log);
	 };
	 var test = function(){
             mango.m_send("excite",{"str":document.getElementById('tosend').value});
	 }
	</script>
    </head>
    <body>
	<textarea id="tosend"></textarea><br />
	<a href="#" onclick="test(document)">hello</a>
    </body>
</html>
