<!DOCTYPE html>
<html>
  <head>
    <title>CAFE</title>
    <link rel="stylesheet" href="css/cafe.css">
    <link rel="stylesheet" href="css/cafe-light.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/vis/dist/vis-network.min.css">
    <script type="text/javascript" src="/mangojs/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="/mangojs/mu.js"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="node_modules/sortablejs/Sortable.min.js"></script>
    <script type="text/javascript" src="node_modules/vis/dist/vis.js"></script>
    <script type="text/javascript" src="js/cafe.js"></script>
  </head>
  <body>
    <div id="app" class="container-full-width">
      <div id="main" class="row">
	<div class="col-md-2 offset-md-1">
	    <div id="modes">
		<h4>View</h4>
		<div v-for="m in ['nodes','types','emps','graph','detail']" v-bind:class="{active: mode==m}" v-on:click="set_mode(m)">{{m}}</div>
	    </div>
	    <div v-if="mode == 'nodes'">
		<h4>Nodes</h4>
		<ul>
		    <li v-for="name in sorted_nodes()">
			<a :href="'#'+name">{{name}}</a>
		    </li>
		</ul>
	    </div>
	</div>
	<div class="col-md-6">
	  <div id="main_col">
	  <!-- list -->
	  <div v-if="mode == 'nodes'" id="nodes">
	      <div v-for="name in sorted_nodes()">
		  <a :name="name" />
		  <h4><a href="#" v-on:click="details(name)">{{name}}</a> ({{nodes[name].node_type}}) 
		      <a href="#" v-on:click="delnode(name)">[x]</a></h4>
		  <ul>
		      <li v-for="r in nodes[name].routes">
			  {{r.src}}
			  <span v-if="r.edits">&gt; {{r.edits}}</span> &gt;
			  <a href="#" v-on:click="details(r.dst)">{{r.dst}}</a>
			  <a href="#" v-on:click="delroute(r.src,r.dst,r.group)">[x]</a>
		      </li>
		  </ul>
	      </div>
	  </div>
	  
	  <div v-if="mode == 'detail'" id="detail">
	      <h4>Name: {{nodes[detail_node].name}}</h4>
	      <h4>Group: {{nodes[detail_node].group}}</h4>
	      <h4>Type: {{nodes[detail_node].node_type}}</h4>
	      <h4>Routes:</h4>
	      <ul>
		  <li v-for="r in nodes[detail_node].routes">{{r.src}} <span v-if="r.edits">&gt; {{r.edits}}</span> &gt; <a href="#" v-on:click="details(name)">{{r.dst}}</a></li>
	      </ul>
	      <div v-if="nodes[detail_node].interface">
		  <h4>Interface:</h4>
		  Inputs:
		  <ul>
		      <li v-for="(spec,name) in nodes[detail_node].interface.inputs">{{name}} {{spec}}</li>
		  </ul>
		  Outputs:
		  <ul>
		      <li v-for="(spec,name) in nodes[detail_node].interface.outputs">{{name}} {{spec}}</li>
		  </ul>
	      </div>
	  </div>

	  <div v-if="mode == 'types'" id="types">
	      <h4>Types: </h4>
	      <ul>
		  <li v-for="t in types"><a href="#" v-on:click="new_node_type = t.name">{{t.name}}</a></li>
	      </ul>
	  </div>
	  
	  <div v-if="mode == 'emps'" id="emps">
	      <h4>EMP: </h4>
	      <ul>
		  <li v-for="e in emps"><a href="#" v-on:click="startemp(e.name)">{{e.name}}</a></li>
	      </ul>
	  </div>
	  
	  <!-- graph -->
	  <div id="graph" v-if="mode == 'graph'">
	  </div>

	
	</div>
	</div>	
	<!-- sidebar -->
	<div class="col-md-2">
	    <div id="sidebar">
		<div id="query">
		    <h4>Controls</h4>
		    <b>Status:</b>
		    <div id="query_results"><span class="error">{{error}}</span></div>
		    <br /><br />
		    <b>Add route: </b><input type="text" id="new_route_input" v-model="new_route" v-on:keyup.enter="addroute" />
		    <br /><br />
		    <b>Add node:</b><br />
		    Type: <input type="text" id="new_type_input" v-model="new_node_type" />
		    Name: <input type="text" id="new_name_input" v-model="new_node_name" bv-on:keyup.enter="addnode" />
		</div>
	    </div>
	</div>


	
      </div>
    </div>
  </body>
</html>    
